// Variables
//-------------------------------

@import url('https://fonts.googleapis.com/css?family=Rubik:400,400italic,700,700italic');

// $sans-serif: -apple-system, BlinkMacSystemFont, San Francisco Text, Helvetica, Arial, "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
// $font-family-sans-serif: "Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
// $body-bg: #eee;
// $body-color: #484848;
// $link-color: #000;

$enable-gradients: true;
$enable-shadows: true;
$font-size-h1: 1.5rem;

// text-color-light: #828282;
// metadata-color: #999;
// post-title: #313131;
// code-bg-color: #fff;
// code-border: #f5f5f5;
// table-border-color: #e5e5e5;
// table-header-color: #fefefe;
// shadow-color: rgba(0, 0, 0, 0.1);



// $serif: Menlo, Monaco, Courier, monospace, serif;

// $base-font-family: $sans-serif;
// $base-font-weight: 400;
// $base-font-weight-bold: 700;

// $base-font-size: 20px;
// $mobile-font-size: 18px;
// $lead-font-size: 1.15em;
// $blog-title-size: 2.5rem;
// $post-title-size: 4.25rem;
// $base-line-height: 1.6;
// $code-line-height: 1.4;

$footnote-font-size: 0.75em;
$magic: 1.618em;

// $hero-heading-color: #fff;
// $hero-date-color: #ccc;
