---
layout: default
---


{% assign site_lang = 'en' %}
{% assign mental_models = site.mental_models %}

<div class="call-to-action py-3">
  <button type="button" class="btn btn-light" data-toggle="modal" data-target="#subscribeModal">
    Subscribe for new practices
  </button>

  <!-- Modal -->
  <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <a class="btn btn-primary my-3" href="https://www.subscribepage.com/mmpractices" target="_blank">
              <span class="fa fa-envelope"></span>
              Join our email list
            </a>
          </div>
          <div class="text-center">
            <a class="btn btn-primary my-3" href="https://discord.gg/mdTQnNH" target="_blank">
              <span class="fa fa-comments"></span>
              Join our Discord channel
            </a>
          </div>
          <div class="text-center">
            <a class="btn btn-primary my-3" href="https://twitter.com/demiculus" target="_blank">
              <span class="fa fa-twitter"></span>
              Follow on Twitter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container pb-5">
  <h1 class="sr-only">{{ site.title }}</h1>
  <div class="mt-4 mb-3">
    <button type="button" class="search-launcher" data-search-open>
      <span class="fa fa-search" aria-hidden="true"></span>
      <span>Search mental models</span>
      <kbd class="d-none d-md-inline-block">Ctrl K</kbd>
    </button>
  </div>

  <div class="table-scroll">
  <table id="coin-table" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Benefit</th>
        <th>Summary</th>
      </tr>
    </thead>

    <tbody>
      {% for mental_model in mental_models %}
      <tr>
        <td class="align-middle">
          <a href="{{ mental_model.url | prepend: site.baseurl }}">
            <span>{{ mental_model.name }}</span>
          </a>
        </td>
        <td class="align-middle">
            {{ mental_model.benefit }}
        </td>
        <td class="align-middle">{{ mental_model.summary }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
