---
layout: default
---

<div class="container mt-4">

  <h1 class="h3">{{ page.name }}</h1>

  <b>Benefit: </b>{{ page.benefit }}
  <br>
  <b>Prerequisites: </b>{{ page.prerequisites }}
  <br>
  <br>

  <!-- <h2>Researchers</h2> -->

  <!-- <ul> -->
    <!--   <li> -->
      <!--     {{ page.researcher }} -->
      <!--   </li> -->
    <!-- </ul> -->

  <!-- <h2>Relevant Links</h2> -->

  <!-- {% if page.cmc_id %} -->
  <!-- <a href="https://coinmarketcap.com/currencies/{{ page.cmc_id }}/" target="_blank">CoinMarketCap Profile</a> -->
  <!-- {% endif %} -->

  {{ page.content }}

</div>

<!-- <div class="container mt-5">
  {% include externals/disqus.html %}
</div> -->

<div class="call-to-action py-3">
  <button type="button" class="btn btn-light" data-toggle="modal" data-target="#subscribeModal">
    Subscribe For New Practices
  </button>

  <!-- Modal -->
  <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <a class="btn btn-primary my-3" href="https://www.subscribepage.com/mmpractices">
              <span class="fa fa-discord"></span>
              Join our email list
            </a>
          </div>
          <div class="text-center">
            <a class="btn btn-primary my-3" href="https://discord.gg/mdTQnNH" target="_blank">
              <span class="fa fa-discord"></span>
              Join our Discord Channel
            </a>
          </div>
          <div class="text-center">
            <a class="btn btn-primary my-3" href="https://twitter.com/demiculus" target="_blank">
              <span class="fa fa-twitter"></span>
              Follow on Twitter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- <a href="{{ '/' | prepend: site.baseurl }}" class="btn btn-light">
      Check out more mental models
  </a> -->
</div>
