---
layout: default
---

<h1>Researcher: {{ page.name }}</h1>

<!-- <p><b>Researcher:</b>{{ page.researcher }}</p> -->
<!-- <h2>Researchers</h2> -->

<!-- <ul> -->
<!--   <li> -->
<!--     {{ page.researcher }} -->
<!--   </li> -->
<!-- </ul> -->

<!-- <h2>Relevant Links</h2> -->

<!-- {% if page.cmc_id %} -->
<!-- <a href="https://coinmarketcap.com/currencies/{{ page.cmc_id }}/" target="_blank">CoinMarketCap Profile</a> -->
<!-- {% endif %} -->

<!-- <h2>Analysis</h2> -->

<!-- {{ page.content }} -->

<!-- {% if page.conclusion %} -->
<!-- <h2>Conclusion</h2> -->

<!-- <p> -->
<!-- {{ page.conclusion | markdownify }} -->
<!-- </p> -->
<!-- {% endif %} -->
